:root {
  --vp-button-brand-bg: #4fb155;
  --vp-button-brand-hover-bg: #3e8d43;
  --vp-c-brand-1: #4fb155;
}

.dark {
  --vp-button-brand-bg: #46994b;
  --vp-button-brand-hover-bg: #387a3c;
  --vp-c-brand-1: #46994b;
}
